@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600&family=Ubuntu:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

#particles-js {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

#overlay {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titillium Web", sans-serif;
}

.myborder {
  /* border-color: #6e07f3 !important; */
  background-color: #ffffff;
  color: #6e07f3;
  border-color: #6e07f3 !important;
}

.nav-link:hover {
  background-color: #6e07f3;
  border-color: #6e07f3 !important;
  color: #ffffff;
}

span {
  color: #6e07f3;
}

.imgprofile {
  width: 90%;
}

.section3 {
  background-color: #6e07f3;
  color: #ffffff;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.section4 {
  background-color: #ffffff;
  color: #000000;
  margin-top: -6rem !important;
  margin-left: 13% !important;
}

.fabbutton .btn-circle {
  width: 50px;
  height: 50px;
  padding: 12px 18px;
  border-radius: 30px;
  font-size: 13px;
  text-align: center;
  border-color: #6e07f3 !important;
  background-color: #ffffff;
  color: #6e07f3;
  border-width: 2px;
}

.fabbutton .btn-circle:hover {
  background-color: #6e07f3;
  border-color: #ffffff !important;
  color: #ffffff;
}

#myBtn {
  display: none;
}

.vr {
  opacity: 0.1;
}

.has-text-success {
  color: #5be9b9 !important;
}

.has-text-dark {
  color: #141c3a !important;
}

.timeline-with-icons {
  border-left: 1px solid hsl(0, 0%, 75%);
  position: relative;
  list-style: none;
}

.timeline-with-icons .timeline-item {
  position: relative;
}

.timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -48px;
  background-color: hsl(217, 88.2%, 90%);
  color: #6e07f3;
  border-radius: 50%;
  height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardw {
  position: relative;
  background-color: #f1f1f8;
}

/* Add arrows to the right container (pointing left) */
.cardw::before {
  content: " ";
  width: 15px;
  height: 15px;
  top: 4%;
  left: -1.5%;
  position: absolute;
  box-shadow: #ffffff;
  border-top: opx solid black;
  border-bottom: 1px solid var(--bs-border-color-translucent);
  border-left: 1px solid var(--bs-border-color-translucent);
  border-right: opx solid black;
  transform: rotate(45deg);
  background: #f1f1f8;
}

.footersection {
  background-color: #6e07f3;
  color: #ffffff;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #141c3a;
  color: #ffffff;
  opacity: 0;
}

.hovercard .card-img-overlay {
  transition: 0.6s ease-in-out;
}

.hovercard:hover .card-img-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #141c3a;
  color: #ffffff;
  opacity: 1;
}

.cardbtn {
  text-decoration: none;
  border-color: #6e07f3 !important;
  color: #ffffff;
  background-color: #141c3a;
}

.cardbtn:hover {
  background-color: #6e07f3;
  border-color: #6e07f3 !important;
  color: #ffffff;
}

.section6 img {
  height: 100px;
  width: 100px;
  border: none;
}

.contactme {
  background-color: #141c3a;
  width: 75%;
  margin: 0% 13%;
  margin-top: -30rem;
}

.contactme .title {
  color: #ffffff;
}

.contactme a {
  text-decoration: none;
  padding: 5px;
  border-color: #5be9b9 !important;
  background-color: #000000;
  color: #ffffff;
}

.contactme a:hover {
  padding: 5px;
  border-width: 2px;
  border-color: #5be9b9;
  background-color: #5be9b9;
  color: #000000;
}

.moto {
  max-width: 300px;
}

.socialLinks button {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  font-size: 20px;
  border-color: #ffffff !important;
  background-color: #6e07f3;
  color: #ffffff;
  border-width: 2px;
}

.footersection .socialLinks .btn-circle:hover {
  background-color: #ffffff;
  border-color: #ffffff !important;
  color: #6e07f3;
}

/*Meida Queries*/
@media (min-width: 1451px) and (max-width: 1500px) {
  .section3 {
    padding: 8% !important;
  }
  .section3 p {
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
  }
  .section4 {
    width: 90% !important;
    margin-top: -3rem !important;
    margin-left: 5.5% !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard .worksection ul .cardw li .techskill {
    margin-top: 9% !important;
  }
  .section5 {
    padding: 0% !important;
    margin-bottom: 0% !important;
    margin-right: 1% !important;
    margin-left: 2.5% !important;
  }
  .section6 {
    margin-top: 4% !important;
  }
  .section6 .section6Items {
    padding: 0% !important;
    margin: 0% !important;
    margin-top: 5% !important;
    gap: 4% !important;
  }
  .section6 div {
    margin: 0% !important;
    margin-bottom: 10% !important;
  }
}

@media (min-width: 1351px) and (max-width: 1450px) {
  .section3 {
    padding: 8% !important;
  }
  .section3 p {
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
    font-size: 1.2rem !important;
  }
  .section4 {
    width: 95% !important;
    margin-top: -3rem !important;
    margin-left: 2.9% !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard .worksection ul .cardw li .techskill {
    margin-top: 10% !important;
  }
  .section5 {
    padding: 0% !important;
    margin-bottom: 0% !important;
    margin-right: 2% !important;
    margin-left: 4% !important;
  }
  .section5 .hovercard {
    margin-bottom: 5% !important;
    padding: 0% !important;
  }
  .section5 .hovercard .card-img-overlay .card-title {
    text-align: center;
  }
  .section5 .hovercard .card-img-overlay .card-title p {
    font-size: medium;
  }
  .section6 .section6Items {
    padding: 0% !important;
    margin: 0% !important;
    margin-top: 5% !important;
    gap: 5% !important;
  }
  .section6 div {
    margin: 0% !important;
    margin-bottom: 10% !important;
  }
}

@media (min-width: 1301px) and (max-width: 1350px) {
  .section3 {
    padding: 8% !important;
  }
  .section3 p {
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
    font-size: 1.2rem !important;
  }
  .section4 {
    width: 95% !important;
    margin-top: -3rem !important;
    margin-left: 2.9% !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard .worksection ul .cardw li .techskill {
    margin-top: 10% !important;
  }
  .section5 {
    padding: 0% !important;
    margin-bottom: 0% !important;
    margin-right: 2% !important;
    margin-left: 4% !important;
  }
  .section5 .hovercard {
    margin-bottom: 5% !important;
    padding: 0% !important;
  }
  .section5 .hovercard .card-img-overlay .card-title {
    text-align: center;
  }
  .section5 .hovercard .card-img-overlay .card-title p {
    font-size: medium;
  }
  .section6 .section6Items {
    padding: 0% !important;
    margin: 0% !important;
    margin-top: 5% !important;
    gap: 3% !important;
  }
  .section6 div {
    margin: 0% !important;
    margin-bottom: 10% !important;
  }
  .section6 div img {
    width: 90px !important;
    height: 90px !important;
  }
}

@media (min-width: 1251px) and (max-width: 1300px) {
  .section3 {
    padding: 8% !important;
  }
  .section3 p {
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
    font-size: 1.2rem !important;
  }
  .section4 {
    width: 95% !important;
    margin-top: -3rem !important;
    margin-left: 3% !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard .worksection ul .cardw li .techskill {
    margin-top: 10% !important;
  }
  .section5 {
    padding: 0% !important;
    margin-bottom: 0% !important;
    margin-right: 2% !important;
    margin-left: 4% !important;
  }
  .section5 .hovercard {
    margin-bottom: 5% !important;
    padding: 0% !important;
  }
  .section5 .hovercard .card-img-overlay .card-title {
    text-align: center;
  }
  .section5 .hovercard .card-img-overlay .card-title p {
    font-size: medium;
  }
  .section6 .section6Items {
    padding: 0% !important;
    margin: 0% !important;
    margin-top: 5% !important;
    gap: 3% !important;
  }
  .section6 div {
    margin: 0% !important;
    margin-bottom: 10% !important;
  }
  .section6 div img {
    width: 90px !important;
    height: 90px !important;
  }
}

@media (min-width: 1201px) and (max-width: 1250px) {
  .section3 {
    padding: 8% !important;
  }
  .section3 p {
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
    font-size: 1.2rem !important;
  }
  .section4 {
    width: 95% !important;
    margin-top: -3rem !important;
    margin-left: 2% !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard .worksection ul .cardw li .techskill {
    margin-top: 10% !important;
  }
  .section5 {
    padding: 0% !important;
    margin-bottom: 0% !important;
    margin-right: 2% !important;
    margin-left: 4% !important;
  }
  .section5 .hovercard {
    margin-bottom: 5% !important;
    padding: 0% !important;
  }
  .section5 .hovercard .card-img-overlay .card-title {
    text-align: center;
  }
  .section5 .hovercard .card-img-overlay .card-title p {
    font-size: medium;
  }
  .section6 .section6Items {
    padding: 0% !important;
    margin: 0% !important;
    margin-top: 5% !important;
    gap: 3% !important;
  }
  .section6 div {
    margin: 0% !important;
    margin-bottom: 10% !important;
  }
  .section6 div img {
    width: 90px !important;
    height: 90px !important;
  }
}

@media (min-width: 1151px) and (max-width: 1200px) {
  .section3 {
    padding: 8% !important;
  }
  .section3 p {
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
    font-size: 1.2rem !important;
  }
  .section4 {
    width: 95% !important;
    margin-top: -3rem !important;
    margin-left: 2% !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard .worksection ul .cardw li .techskill {
    margin-top: 10% !important;
  }
  .section5 {
    padding: 0% !important;
    margin-bottom: 0% !important;
    margin-right: 2% !important;
    margin-left: 2% !important;
  }
  .section5 .hovercard {
    margin-bottom: 5% !important;
    padding: 0% !important;
  }
  .section5 .hovercard .card-img-overlay .card-title {
    text-align: center;
  }
  .section5 .hovercard .card-img-overlay .card-title p {
    font-size: medium;
  }
  .section6 .section6Items {
    padding: 0% !important;
    margin: 0% !important;
    margin-top: 5% !important;
    gap: 5% !important;
  }
  .section6 div {
    margin: 0% !important;
    margin-bottom: 10% !important;
  }
  .section6 div img {
    width: 100px !important;
    height: 100px !important;
  }
}

@media (min-width: 1101px) and (max-width: 1150px) {
  .section3 {
    padding: 8% !important;
  }
  .section3 p {
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
    font-size: 1.2rem !important;
  }
  .section4 {
    width: 95% !important;
    margin-top: -3rem !important;
    margin-left: 2% !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard .worksection ul .cardw li .techskill {
    margin-top: 5% !important;
  }
  .section5 {
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
    gap: 1% !important;
    padding: 0% !important;
    margin-bottom: 0% !important;
    margin-right: 2% !important;
    margin-left: 0.3% !important;
  }
  .section5 .hovercard {
    width: 45% !important;
    margin-bottom: 5% !important;
    padding: 0% !important;
  }
  .section6 .section6Items {
    padding: 0% !important;
    margin: 0% !important;
    margin-top: 5% !important;
    gap: 3% !important;
  }
  .section6 div {
    margin: 0% !important;
    margin-bottom: 10% !important;
  }
  .section6 div img {
    width: 90px !important;
    height: 90px !important;
  }
  .section6 div:nth-child(9) {
    display: none !important;
  }
  .contactme {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 10% !important;
    margin-top: -30rem !important;
    gap: 15% !important;
  }
  .contactme h2 {
    font-size: larger;
    margin-right: 0% !important;
  }
  .contactme p {
    font-size: larger;
    font-weight: 0 !important;
    padding-top: 2% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-right: 0% !important;
  }
  .contactme a {
    padding: 0.7rem 1rem !important;
    font-size: larger;
  }
}

@media (min-width: 1051px) and (max-width: 1100px) {
  .navbar {
    padding: 0% 8% !important;
    margin: 0% !important;
  }
  .navbar .logo {
    padding-right: 10% !important;
    width: 180px !important;
    height: 180px !important;
    padding-top: 5% !important;
  }
  .navbar .navbar-toggler {
    padding: 2% 2% !important;
    font-size: large;
  }
  .section3 {
    padding: 8% !important;
  }
  .section3 p {
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
    font-size: 1.2rem !important;
  }
  .section4 {
    width: 95% !important;
    margin-top: -3rem !important;
    margin-left: 2% !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard .worksection ul .cardw li .techskill {
    margin-top: 0% !important;
  }
  .section5 {
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
    gap: 1% !important;
    padding: 0% !important;
    margin-bottom: 0% !important;
    margin-right: 2% !important;
    margin-left: 0.3% !important;
  }
  .section5 .hovercard {
    width: 45% !important;
    margin-bottom: 5% !important;
    padding: 0% !important;
  }
  .section6 .section6Items {
    padding: 0% !important;
    margin: 0% !important;
    margin-top: 10% !important;
    gap: 3% !important;
  }
  .section6 div {
    margin: 0% !important;
    margin-bottom: 10% !important;
  }
  .section6 div img {
    width: 90px !important;
    height: 90px !important;
  }
  .section6 div:nth-child(9) {
    display: none !important;
  }
  .contactme {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 10% !important;
    margin-top: -30rem !important;
    gap: 15% !important;
  }
  .contactme h2 {
    font-size: larger;
    margin-right: 0% !important;
  }
  .contactme p {
    font-size: larger;
    font-weight: 0 !important;
    padding-top: 2% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-right: 0% !important;
  }
  .contactme a {
    padding: 0.7rem 1rem !important;
    font-size: larger;
  }
}

@media (min-width: 1001px) and (max-width: 1050px) {
  .navbar {
    padding: 0% 8% !important;
    margin: 0% !important;
  }
  .navbar .logo {
    padding-right: 10% !important;
    width: 180px !important;
    height: 180px !important;
    padding-top: 5% !important;
  }
  .navbar .navbar-toggler {
    padding: 2% 2% !important;
    font-size: large;
  }
  .section3 {
    padding: 8% !important;
  }
  .section3 p {
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
    font-size: 1.2rem !important;
  }
  .section4 {
    width: 95% !important;
    margin-top: -3rem !important;
    margin-left: 2.2% !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard .worksection ul .cardw li .techskill {
    margin-top: 0% !important;
  }
  .section5 {
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
    gap: 1% !important;
    padding: 0% !important;
    margin-bottom: 0% !important;
    margin-right: 2% !important;
    margin-left: 0.5% !important;
  }
  .section5 .hovercard {
    width: 45% !important;
    margin-bottom: 5% !important;
    padding: 0% !important;
  }
  .section6 .section6Items {
    padding: 0% !important;
    margin: 0% !important;
    margin-top: 10% !important;
    gap: 3% !important;
  }
  .section6 div {
    margin: 0% !important;
    margin-bottom: 10% !important;
  }
  .section6 div img {
    width: 90px !important;
    height: 90px !important;
  }
  .section6 div:nth-child(9) {
    display: none !important;
  }
  .contactme {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 10% !important;
    margin-top: -30rem !important;
    gap: 15% !important;
  }
  .contactme h2 {
    font-size: larger;
    margin-right: 0% !important;
  }
  .contactme p {
    font-size: larger;
    font-weight: 0 !important;
    padding-top: 2% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-right: 0% !important;
  }
  .contactme a {
    padding: 0.7rem 1rem !important;
    font-size: larger;
  }
}

@media (min-width: 951px) and (max-width: 1000px) {
  .navbar {
    padding: 0% 8% !important;
    margin: 0% !important;
  }
  .navbar .logo {
    padding-right: 10% !important;
    width: 180px !important;
    height: 180px !important;
    padding-top: 5% !important;
  }
  .navbar .navbar-toggler {
    padding: 2% 2% !important;
    font-size: large;
  }
  .section3 {
    padding: 8% !important;
  }
  .section3 p {
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
    font-size: 1.2rem !important;
  }
  .section4 {
    width: 95% !important;
    margin-top: -3rem !important;
    margin-left: 1.9% !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard .worksection ul .cardw li .techskill {
    margin-top: 0% !important;
  }
  .section5 {
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
    gap: 1% !important;
    padding: 0% !important;
    margin-bottom: 0% !important;
    margin-right: 2% !important;
    margin-left: 0.5% !important;
  }
  .section5 .hovercard {
    width: 45% !important;
    margin-bottom: 5% !important;
    padding: 0% !important;
  }
  .section6 .section6Items {
    padding: 0% !important;
    margin: 0% !important;
    margin-top: 10% !important;
    gap: 3% !important;
  }
  .section6 div {
    margin: 0% !important;
    margin-bottom: 10% !important;
  }
  .section6 div img {
    width: 110px !important;
    height: 100px !important;
  }
  .section6 div:nth-child(9) {
    display: none !important;
  }
  .contactme {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    padding: 3% !important;
    margin-left: 5% !important;
    margin-right: 10% !important;
    margin-top: -30rem !important;
    gap: 15% !important;
  }
  .contactme h2 {
    font-size: larger;
    margin-right: 0% !important;
  }
  .contactme p {
    font-size: larger;
    font-weight: 0 !important;
    padding-top: 2% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-right: 0% !important;
  }
  .contactme a {
    padding: 0.7rem 1rem !important;
    font-size: larger;
  }
}

@media (min-width: 901px) and (max-width: 950px) {
  .navbar {
    padding: 0% 8% !important;
    margin: 0% !important;
  }
  .navbar .logo {
    padding-right: 10% !important;
    width: 170px !important;
    height: 170px !important;
    padding-top: 5% !important;
  }
  .navbar .navbar-toggler {
    padding: 2% 2% !important;
    font-size: large;
  }
  .section3 {
    padding: 8% !important;
  }
  .section3 p {
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
    font-size: 1.2rem !important;
  }
  .section4 {
    width: 96% !important;
    margin-top: -3rem !important;
    margin-left: 2.5% !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard {
    width: 100% !important;
  }
  .section4 .educationcard .worksection ul .cardw li .techskill {
    margin-top: 0% !important;
  }
  .section5 {
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
    gap: 1% !important;
    padding: 0% !important;
    margin-bottom: 0% !important;
    margin-right: 2% !important;
    margin-left: 1% !important;
  }
  .section5 .hovercard {
    width: 46% !important;
    margin-bottom: 5% !important;
    padding: 0% !important;
  }
  .section6 .section6Items {
    padding: 0% !important;
    margin: 0% !important;
    margin-top: 10% !important;
    flex-wrap: wrap !important;
    gap: 7.3% !important;
  }
  .section6 div {
    margin: 0% !important;
    margin-bottom: 10% !important;
  }
  .section6 div:nth-child(9) {
    display: none !important;
  }
  .contactme {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    padding: 5% !important;
    margin-left: 5% !important;
    margin-right: 10% !important;
    margin-top: -30rem !important;
    gap: 15% !important;
  }
  .contactme h2 {
    font-size: larger;
    margin-right: 0% !important;
  }
  .contactme p {
    font-size: larger;
    font-weight: 0 !important;
    padding-top: 2% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-right: 0% !important;
  }
  .contactme a {
    padding: 0.7rem 1rem !important;
    font-size: large;
  }
}

@media (min-width: 851px) and (max-width: 900px) {
  .navbar {
    padding: 0% 8% !important;
    margin: 0% !important;
  }
  .navbar .logo {
    padding-right: 10% !important;
    width: 160px !important;
    height: 160px !important;
    padding-top: 5% !important;
  }
  .navbar .navbar-toggler {
    padding: 2% 2% !important;
    font-size: large;
  }
  .section3 {
    padding: 8% !important;
  }
  .section3 p {
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
    font-size: 1.2rem !important;
  }
  .section4 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    margin-top: -3rem !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .section4 .educationcard {
    margin: 0% !important;
    padding: 0% !important;
    width: 105% !important;
  }
  .section5 {
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
    gap: 1% !important;
    padding: 0% !important;
    margin-bottom: 0% !important;
    margin-right: 2% !important;
    margin-left: 1% !important;
  }
  .section5 .hovercard {
    width: 46% !important;
    margin-bottom: 5% !important;
    padding: 0% !important;
  }
  .section6 .section6Items {
    padding: 0% !important;
    margin: 0% !important;
    margin-top: 10% !important;
    flex-wrap: wrap !important;
    gap: 7.3% !important;
  }
  .section6 div {
    margin: 0% !important;
    margin-bottom: 10% !important;
  }
  .section6 div:nth-child(9) {
    display: none !important;
  }
  .contactme {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    padding: 5% !important;
    margin-left: 5% !important;
    margin-right: 10% !important;
    margin-top: -30rem !important;
    gap: 7% !important;
  }
  .contactme h2 {
    font-size: larger;
    margin-right: 0% !important;
  }
  .contactme p {
    font-size: large;
    font-weight: 0 !important;
    padding-top: 2% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-right: 0% !important;
  }
  .contactme a {
    padding: 0.7rem 1rem !important;
    font-size: large;
  }
}

@media (min-width: 801px) and (max-width: 850px) {
  .navbar {
    padding: 0% 8% !important;
    margin: 0% !important;
  }
  .navbar .logo {
    padding-right: 10% !important;
    width: 160px !important;
    height: 160px !important;
    padding-top: 5% !important;
  }
  .navbar .navbar-toggler {
    padding: 2% 2% !important;
    font-size: large;
  }
  .section3 {
    padding: 8% !important;
  }
  .section3 p {
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
    font-size: 1.2rem !important;
  }
  .section4 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    margin-top: -3rem !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .section4 .educationcard {
    margin: 0% !important;
    padding: 0% !important;
    width: 105% !important;
  }
  .section5 {
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
    gap: 1% !important;
    padding: 0% !important;
    margin-bottom: 0% !important;
    margin-right: 2% !important;
    margin-left: 1.5% !important;
  }
  .section5 .hovercard {
    width: 46% !important;
    margin-bottom: 5% !important;
    padding: 0% !important;
  }
  .section6 .section6Items {
    padding: 0% !important;
    margin: 0% !important;
    margin-top: 10% !important;
    flex-wrap: wrap !important;
    gap: 7.3% !important;
  }
  .section6 div {
    margin: 0% !important;
    margin-bottom: 10% !important;
  }
  .section6 div:nth-child(9) {
    display: none !important;
  }
  .contactme {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    padding: 5% !important;
    margin-left: 5% !important;
    margin-right: 10% !important;
    margin-top: -30rem !important;
    gap: 7% !important;
  }
  .contactme h2 {
    font-size: larger;
    margin-right: 0% !important;
  }
  .contactme p {
    font-size: large;
    font-weight: 0 !important;
    padding-top: 2% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-right: 0% !important;
  }
  .contactme a {
    padding: 0.7rem 1rem !important;
    font-size: large;
  }
}

@media (min-width: 751px) and (max-width: 800px) {
  .navbar {
    padding: 0% 8% !important;
    margin: 0% !important;
  }
  .navbar .logo {
    padding-right: 10% !important;
    width: 145px !important;
    height: 145px !important;
    padding-top: 5% !important;
  }
  .navbar .navbar-toggler {
    padding: 2% 2% !important;
    font-size: large;
  }
  .section3 {
    padding: 8% !important;
  }
  .section3 p {
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
    font-size: 1.15rem !important;
  }
  .section4 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    margin-top: -3rem !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .section4 .educationcard {
    margin: 0% !important;
    padding: 0% !important;
    width: 110% !important;
  }
  .section5 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0% !important;
    margin-bottom: 0% !important;
    margin-right: 2% !important;
    margin-left: 4% !important;
  }
  .section5 .hovercard {
    margin-bottom: 10% !important;
    padding: 0% !important;
  }
  .section6 .section6Items {
    padding: 0% !important;
    margin: 0% !important;
    margin-top: 10% !important;
    flex-wrap: wrap !important;
    gap: 7.3% !important;
  }
  .section6 div {
    margin: 0% !important;
    margin-bottom: 10% !important;
  }
  .section6 div:nth-child(9) {
    display: none !important;
  }
  .contactme {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    padding: 5% !important;
    margin-left: 5% !important;
    margin-right: 10% !important;
    margin-top: -30rem !important;
    gap: 7% !important;
  }
  .contactme h2 {
    font-size: larger;
    margin-right: 0% !important;
  }
  .contactme p {
    font-size: large;
    font-weight: 0 !important;
    padding-top: 2% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-right: 0% !important;
  }
  .contactme a {
    padding: 0.7rem 1rem !important;
    font-size: large;
  }
}

@media (min-width: 701px) and (max-width: 750px) {
  .navbar {
    padding: 0% 8% !important;
    margin: 0% !important;
  }
  .navbar .logo {
    padding-right: 10% !important;
    width: 145px !important;
    height: 145px !important;
    padding-top: 5% !important;
  }
  .navbar .navbar-toggler {
    padding: 2% 2% !important;
    font-size: large;
  }
  .section3 {
    padding: 8% !important;
  }
  .section3 p {
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
    font-size: 1.15rem !important;
  }
  .section4 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    margin-top: -3rem !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .section4 .educationcard {
    margin: 0% !important;
    padding: 0% !important;
    width: 110% !important;
  }
  .section5 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0% !important;
    margin-bottom: 0% !important;
    margin-right: 2% !important;
    margin-left: 4% !important;
  }
  .section5 .hovercard {
    margin-bottom: 10% !important;
    padding: 0% !important;
  }
  .section6 .section6Items {
    padding: 0% !important;
    margin: 0% !important;
    margin-top: 10% !important;
    flex-wrap: wrap !important;
    gap: 7.3% !important;
  }
  .section6 div {
    margin: 0% !important;
    margin-bottom: 10% !important;
  }
  .section6 div:nth-child(9) {
    display: none !important;
  }
  .contactme {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    padding: 5% !important;
    margin-left: 5% !important;
    margin-right: 10% !important;
    margin-top: -30rem !important;
    gap: 7% !important;
  }
  .contactme h2 {
    font-size: larger;
    margin-right: 0% !important;
  }
  .contactme p {
    font-size: large;
    font-weight: 0 !important;
    padding-top: 2% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-right: 0% !important;
  }
  .contactme a {
    padding: 0.7rem 1rem !important;
    font-size: large;
  }
}

@media (min-width: 651px) and (max-width: 700px) {
  .navbar {
    padding: 0% 8% !important;
    margin: 0% !important;
  }
  .navbar .logo {
    padding-right: 10% !important;
    width: 118px !important;
    height: 118px !important;
    padding-top: 5% !important;
  }
  .navbar .navbar-toggler {
    padding: 2% 2% !important;
    font-size: large;
  }
  .section3 {
    padding: 8% !important;
  }
  .section3 p {
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
    font-size: 1.15rem !important;
  }
  .section4 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    margin-top: -3rem !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .section4 .educationcard {
    margin: 0% !important;
    padding: 0% !important;
    width: 110% !important;
  }
  .section5 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0% !important;
    margin-bottom: 0% !important;
    margin-right: 2% !important;
    margin-left: 4% !important;
  }
  .section5 .hovercard {
    margin-bottom: 10% !important;
    padding: 0% !important;
  }
  .section6 .section6Items {
    padding: 0% !important;
    margin: 0% !important;
    margin-top: 10% !important;
    flex-wrap: wrap !important;
    gap: 7.3% !important;
  }
  .section6 div {
    margin: 0% !important;
    margin-bottom: 10% !important;
  }
  .section6 div:nth-child(9) {
    display: none !important;
  }
  .contactme {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    padding: 5% !important;
    margin-left: 5% !important;
    margin-right: 10% !important;
    margin-top: -30rem !important;
    gap: 7% !important;
  }
  .contactme h2 {
    font-size: larger;
    margin-right: 0% !important;
  }
  .contactme p {
    font-size: large;
    font-weight: 0 !important;
    padding-top: 2% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-right: 0% !important;
  }
  .contactme a {
    padding: 0.7rem 1rem !important;
    font-size: large;
  }
}

@media (min-width: 601px) and (max-width: 650px) {
  .navbar {
    padding: 0% 8% !important;
    margin: 0% !important;
  }
  .navbar .logo {
    padding-right: 10% !important;
    width: 118px !important;
    height: 118px !important;
    padding-top: 5% !important;
  }
  .navbar .navbar-toggler {
    padding: 2% 2% !important;
    font-size: large;
  }
  .section3 {
    padding: 8% !important;
  }
  .section3 p {
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
    font-size: 1.15rem !important;
  }
  .section4 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    margin-top: -3rem !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .section4 .educationcard {
    margin: 0% !important;
    padding: 0% !important;
    width: 115% !important;
  }
  .section5 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0% !important;
    margin-bottom: 0% !important;
    margin-right: 1% !important;
    margin-left: 5% !important;
  }
  .section5 .hovercard {
    margin-bottom: 10% !important;
    padding: 0% !important;
  }
  .section6 .section6Items {
    padding: 0% !important;
    margin: 0% !important;
    margin-top: 10% !important;
    flex-wrap: wrap !important;
    gap: 10% !important;
  }
  .section6 div {
    margin: 0% !important;
    margin-bottom: 10% !important;
  }
  .contactme {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    padding: 5% !important;
    margin-left: 5% !important;
    margin-right: 10% !important;
    margin-top: -30rem !important;
    gap: 5% !important;
  }
  .contactme h2 {
    font-size: larger;
    margin-right: 0% !important;
  }
  .contactme p {
    font-size: large;
    font-weight: 0 !important;
    padding-top: 2% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-right: 0% !important;
  }
  .contactme a {
    padding: 0.7rem 1rem !important;
    font-size: medium;
  }
}

@media (min-width: 551px) and (max-width: 600px) {
  .navbar {
    padding: 0% 8% !important;
    margin: 0% !important;
  }
  .navbar .logo {
    padding-right: 10% !important;
    width: 118px !important;
    height: 118px !important;
    padding-top: 5% !important;
  }
  .navbar .navbar-toggler {
    padding: 2% 2% !important;
    font-size: large;
  }
  .section3 {
    padding: 8% !important;
  }
  .section3 p {
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
    font-size: 1.15rem !important;
  }
  .section4 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    margin-top: -3rem !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .section4 .educationcard {
    margin: 0% !important;
    padding: 0% !important;
    width: 115% !important;
  }
  .section5 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0% !important;
    margin-bottom: 0% !important;
    margin-right: 1% !important;
    margin-left: 5% !important;
  }
  .section5 .hovercard {
    margin-bottom: 10% !important;
    padding: 0% !important;
  }
  .section6 .section6Items {
    padding: 0% !important;
    margin: 0% !important;
    margin-top: 10% !important;
    flex-wrap: wrap !important;
    gap: 10% !important;
  }
  .section6 div {
    margin: 0% !important;
    margin-bottom: 10% !important;
  }
  .contactme {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    padding: 5% !important;
    margin-left: 5% !important;
    margin-right: 10% !important;
    margin-top: -30rem !important;
    gap: 4% !important;
  }
  .contactme h2 {
    font-size: larger;
    margin-right: 0% !important;
  }
  .contactme p {
    font-size: medium;
    font-weight: 0 !important;
    padding-top: 2% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-right: 0% !important;
  }
  .contactme a {
    padding: 0.7rem 1rem !important;
    font-size: medium;
  }
}

@media (min-width: 501px) and (max-width: 550px) {
  .navbar {
    padding: 0% 8% !important;
    margin: 0% !important;
  }
  .navbar .logo {
    padding-right: 10% !important;
    width: 118px !important;
    height: 118px !important;
    padding-top: 5% !important;
  }
  .navbar .navbar-toggler {
    padding: 2% 2% !important;
    font-size: medium;
  }
  .section3 {
    padding: 8% !important;
  }
  .section3 p {
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
    font-size: 1.15rem !important;
  }
  .section4 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    margin-top: -3rem !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .section4 .educationcard {
    margin: 0% !important;
    padding: 0% !important;
    width: 115% !important;
  }
  .section5 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0% !important;
    margin-bottom: 0% !important;
    margin-right: 1% !important;
    margin-left: 5% !important;
  }
  .section5 .hovercard {
    margin-bottom: 10% !important;
    padding: 0% !important;
  }
  .section6 .section6Items {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .section6 .section6Items div img {
    margin-bottom: 0% !important;
  }
  .section6 .section6Items div:nth-child(1),
  .section6 .section6Items div:nth-child(2),
  .section6 .section6Items div:nth-child(3),
  .section6 .section6Items div:nth-child(4),
  .section6 .section6Items div:nth-child(5),
  .section6 .section6Items div:nth-child(6),
  .section6 .section6Items div:nth-child(7),
  .section6 .section6Items div:nth-child(8),
  .section6 .section6Items div:nth-child(9) {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0% !important;
    margin-bottom: 15% !important;
    gap: 30% !important;
  }
  .contactme {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    padding: 5% !important;
    margin-left: 5% !important;
    margin-right: 10% !important;
    margin-top: -32rem !important;
  }
  .contactme h2 {
    font-size: larger;
    margin-right: 0% !important;
    padding-bottom: 5%;
  }
  .contactme p {
    font-size: large;
    font-weight: 0 !important;
    padding-top: 2% !important;
    padding-bottom: 0 5% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-right: 0% !important;
  }
  .contactme a {
    padding: 0.7rem 1rem !important;
    font-size: large;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    padding: 0% 8% !important;
    margin: 0% !important;
  }
  .navbar .logo {
    padding-right: 10% !important;
    width: 109px !important;
    height: 109px !important;
    padding-top: 5% !important;
  }
  .navbar .navbar-toggler {
    padding: 2% 2% !important;
    font-size: medium;
  }
  .section3 {
    padding: 8% !important;
  }
  .section3 p {
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
    font-size: 1.15rem !important;
  }
  .section4 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    margin-top: -3rem !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .section4 .educationcard {
    margin: 0% !important;
    padding: 0% !important;
    width: 115% !important;
  }
  .section5 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0% !important;
    margin-bottom: 0% !important;
    margin-right: 1% !important;
    margin-left: 5% !important;
  }
  .section5 .hovercard {
    margin-bottom: 10% !important;
    padding: 0% !important;
  }
  .section6 .section6Items {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin-right: 26% !important;
  }
  .section6 .section6Items div {
    display: flex !important;
    flex-direction: row !important;
    margin-right: 5% !important;
    margin-bottom: 5% !important;
    gap: 35% !important;
  }
  .contactme {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 90% !important;
    padding: 5% !important;
    margin-left: 5% !important;
    margin-right: 10% !important;
    margin-top: -32rem !important;
  }
  .contactme h2 {
    font-size: larger;
    margin-right: 0% !important;
    padding-bottom: 5%;
  }
  .contactme p {
    font-size: medium;
    font-weight: 0 !important;
    padding-top: 2% !important;
    padding-bottom: 0 5% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-right: 0% !important;
  }
  .contactme a {
    padding: 0.7rem 1rem !important;
    font-size: medium;
  }
}
